@import "/node_modules/normalize.css/normalize.css";
@import "/node_modules/open-props/src/props.colors.css";
@import "/node_modules/open-props/src/props.gradients.css";
@import "./colors.css";
@import "./theme.css";
@import "./typography.css";
@import "./syntax-highlighter.css";
@import "./markdown.css";

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

:root {
  color-scheme: light dark;

  /* background-image: linear-gradient( */
  /*   326deg, */
  /*   #0000001a, */
  /*   transparent 40%, */
  /*   transparent */
  /* ); */
  /* background-attachment: fixed; */
}

html,
body {
  height: 100%;
}

.root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Resets */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.link-heading {
  /* color: var(--text-12); */
  /* color: var(--) */
}

.link-heading:visited {
  /* color: var(--primary-300); */
  /* color: CanvasText; */
  /* color: var(--neutral-500); */
  /* color: #545658; */
  /* color: var(--text-6); */
  color: var(--black);
}

a {
  color: var(--primary);
  color: var(--link);
}

@media (hover: hover) {
  a:hover {
    color: var(--link-hover);
  }
}

a:visited {
  color: var(--link-visited);
}

.column {
  max-width: 80ch; /* 65ch; */
  margin-inline: auto;
  padding-inline: 16px;
}

.no-underline {
  text-decoration: none;
}

@media (hover: hover) {
  a:hover,
  a:visited:hover {
    color: var(--primary);
    color: var(--link-hover);
    text-decoration: none;
  }

  .hover\:underline:hover {
    text-decoration: underline;
  }
  .hover\:black:hover {
    color: CanvasText;
  }
  .hover\:primary:hover {
    color: var(--primary);
  }
}

.logo-title {
  color: var(--neutral-500);
  color: CanvasText;
}

@media (hover: hover) {
  .logo-title:hover {
    color: CanvasText;
  }
}

.h-stack {
  display: grid;
  grid-auto-flow: column;
}

.v-stack {
  display: grid;
}

body {
  border-top: 6px solid CanvasText;
}
