@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

body {
  --font-weight-body: 400;
  font-family: "Source Serif 4", system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: var(--font-weight-body);
}

article a {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  -webkit-font-smoothing: antialiased;
  font-family: Inter;
  line-height: 1;
  font-weight: 800;
}

.meta-date {
  /*font-family: ui-monospace, "SF Mono", SFMono-Regular, Menlo, monospace;*/
  font-family: Inter;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: var(--tertiary-label);
}
